

<div ...attributes>
  {{t 'foso' }} 
  {{#if (has-block)}}
 

 
    {{yield @isChatVisible this.currentChat.name this.currentChat.record}}
 
  {{else}}

    {{this.currentChat.name}}
 
  {{/if}}
</div>
